<ion-app>
  <a  href="/tela-inicial"><ion-icon size="large" name="chevron-back-sharp"></ion-icon></a>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label> {{ usuario.nome }} </ion-label>
        <a href="/editar-treino/{{ usuario.id }}"><ion-icon name="create" ></ion-icon></a>
        <ion-icon name="trash" id="msgdlg-{{ usuario.id }}"></ion-icon>
        <ion-alert
          trigger="msgdlg-{{ usuario.id }}"
          header="Deseja excluir?"
          [buttons]="alertButtons"
          (didDismiss)="setResult($event, usuario.id)">
        </ion-alert>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>