*{
    margin: 0;
    padding: 0;
    --background: black;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.box{
    position: relative;
    width: 80%;
    height: 650px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
}

.img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 80%; 
    border-bottom: 2px solid #fff;
    margin-left: 10%;
}

.inputbox ion-label{
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.inputbox ion-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
} 

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

ion-button{
    --background: linear-gradient(90deg, #809cc9, #5E7FB4 50%);
    --border-radius: 100px;
    margin-left: 20%;
    width: 60%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

p{
    margin-top: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #5E7FB4;
    margin-top: 5px;
}
