<ion-app>
  <ion-content>
    <section>
      <div class="box">
        <div class="img">
          <ion-img 
          src="../assets/img/logopersonal.png"
          class="img"/>
        </div>
        <div class="inputbox">
          <ion-label>Nome</ion-label>
          <ion-input></ion-input>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-label>Senha</ion-label>
          <ion-input></ion-input>
        </div>
        <ion-button href="/usuario-listar"> Entrar </ion-button>
      </div>
    </section>
  </ion-content>
</ion-app>