<ion-app>
  <ion-content>
    <section>
      <div class="box">
        <div class="img">
          <ion-img 
          src="../assets/img/logo.png"
          class="img"/>
        </div>
        <div class="inputbox">
          <ion-label>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-label>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-label>Confirme a senha</ion-label>
          <ion-input type="password" [(ngModel)]="confirmeSenha"></ion-input>
        </div>
        <ion-button (click)="salvar()"> Cadastrar </ion-button>
        <p>Já possui conta? <br> <a href="/login-usuario">Entre aqui</a></p>
      </div>
    </section>
  </ion-content>
</ion-app>
