*{
    --background:black;
}
ion-icon{
    padding-left: 75%;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.borda{ 
    margin: 0 auto;
    border-bottom: 2px solid #5E7FB4;
}
ion-row{
    margin-bottom: 20px;
}
.subtitulo{
    padding-top: 10px;
}
ion-label{
    margin-bottom: 100px;
}
ion-grid{
    width: 80%;
}
