<ion-app>
  <ion-content>
    <ion-list>
      <ion-list-header>
        Lista de treinos 
      </ion-list-header>
      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
        <p>Perna</p>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Dia **/**/****
        </ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
  <app-my-footer></app-my-footer>
</ion-app>
