
<ion-app>
  <ion-content>
    <section>
      <div class="box">
        <div class="img">
          <ion-img 
          src="../assets/img/logo.png"
          class="img"/>
        </div>
        <div class="inputbox">
          <ion-label>Nome</ion-label>
          <ion-input type="text"></ion-input>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-label>Senha</ion-label>
          <ion-input type="password"></ion-input>
        </div>
        <ion-button href="/home"> Entrar </ion-button>
        <p>Não possui conta? <br> <a href="/cadastro-usuario">Cadastre aqui</a></p>
      </div>
    </section>
  </ion-content>
</ion-app>