<ion-app>
    <ion-content>
    <ion-img src="../assets/img/logo.png"/>
    <div id="message">
      <p>
        O <a>sucesso</a> não é alcançado
        por acaso, é alcançado por 
        <a>esforço</a> consistente!
      </p>
    </div>
    <ion-img src="../assets/img/halteres.png"/>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button  href="/login-personal" >
            <ion-img src="../assets/img/botaopersonal.png"/>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button  href="/cadastro-usuario" >
            <ion-img id="fotoaluno"src="../assets/img/botaoaluno.png"/>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>