ion-grid{
    align-items: center;
}
a{
    color: white;
}
.treino{
    border: 2px solid #5E7FB4;
}
ion-col{
    text-align: center;
}
#sub{
    border-bottom: 2px solid white;
}
.grid{
    margin-top: 30px;
}
