<ion-app>
  <ion-header>
    <ion-grid id="sub">
      <ion-row>
        <ion-col size="1">
          <a href="/lista-treino"><ion-icon size="large" name="chevron-back"></ion-icon></a>
        </ion-col>
        <ion-col size="8" class="text">
          <ion-label>
            Exercícios
          </ion-label>
        </ion-col>
        <ion-col size="3" class="text">
          <ion-label> Série </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content>
    <div>
      <app-abrir-treino></app-abrir-treino>
    </div>
  </ion-content>
</ion-app>