*{
  padding: 0;
  margin: 0;
}

ion-content{
  --background: linear-gradient(to bottom right,#563972 0%, #7843A9 40%, #D7799E 80%);
}

ion-tab-bar{
  background:rgb(255, 255, 255);
}

ion-icon{
  color: #f596bc;
  width: 25px;
}