<ion-app>
  <app-my-header></app-my-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col id="altura">
          <b>
            <h6>Altura</h6>
            <p></p>
          </b>
        </ion-col>
        <ion-col id="imc">
          <b>
            <h6>IMC</h6>
            <p></p>
            <p></p>
          </b>
        </ion-col>
        <ion-col id="peso">
          <b>
            <h6>Peso</h6>
            <p></p>
          </b>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
    </ion-grid>
  </ion-content>
  <app-my-footer></app-my-footer>
</ion-app>