<ion-grid>
  <ion-row>
    <ion-col size="8">
      <ion-label class="sub">
        Série A
      </ion-label>
    </ion-col>
    <ion-label>
    </ion-label>
    <ion-col>
      <ion-label>
        10/10/2023
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="sub">
        pipipi pipipi pipipi
      </ion-label>
    </ion-col>
  </ion-row>
  <div id="borda">
  </div>
  <ion-row>
    <ion-col size="8">
      <ion-label class="sub">
        Série A
      </ion-label>
    </ion-col>
    <ion-label>
    </ion-label>
    <ion-col>
      <ion-label>
        10/10/2023
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="sub">
        pipipi pipipi pipipi
      </ion-label>
    </ion-col>
  </ion-row>
  <div id="borda">
  </div>
  <ion-row>
    <ion-col size="8">
      <ion-label class="sub">
        Série A
      </ion-label>
    </ion-col>
    <ion-label>
    </ion-label>
    <ion-col>
      <ion-label>
        10/10/2023
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="sub">
        pipipi pipipi pipipi
      </ion-label>
    </ion-col>
  </ion-row>
  <div id="borda">
  </div>
  <ion-row>
    <ion-col size="8">
      <ion-label class="sub">
        Série A
      </ion-label>
    </ion-col>
    <ion-label>
    </ion-label>
    <ion-col>
      <ion-label>
        10/10/2023
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="sub">
        pipipi pipipi pipipi
      </ion-label>
    </ion-col>
  </ion-row>
  <div id="borda">
  </div>
</ion-grid>